<% provide :page_title, @presenter.page_title %>
<% provide :page_header do %>
  <h1>File Details <small><%= @presenter %></small><span class="label label-danger"><%= 'Deaccessioned' if @presenter.deaccessioned? %></span></h1>
<% end %>
<%= media_display @presenter %>
<%= render 'attributes', presenter: @presenter %>
<%= render 'events', presenter: @presenter %>
<%= render 'items', presenter: @presenter %>
<%= render 'show_actions', presenter: @presenter, parent: parent %>
<%= render 'single_use_links', presenter: @presenter if can? :edit, @presenter.id %>
