<div>
  <%= link_to "Clear All Filters", "/catalog" %>
</div>
<%= render 'filter_search/ingest_date_time' %>
<%= render 'filter_search/last_fixity_date_time' %>
<%= render 'filter_search/barcode' %>
<%= render 'filter_search/filename' %>
<%= render 'filter_search/file_path_segment' %>
<%= render 'filter_search/file_format' %>
<%= render 'filter_search/file_path' %>
