<h2>Preservation Events by Type</h2>
<% if presenter.try(:recent_event_presenters) %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('.type') %></th>
        <th>Most recent</th>
        <th><%= t('.outcome') %></th>
        <th><%= t('.agent') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'event', collection: presenter.recent_event_presenters %>
    </tbody>
  </table>
  <% if presenter.try(:recent_event_presenters)&.present? %>
    <div>
      <%= link_to 'See all events for this object', Hyrax::Preservation::Engine.routes.url_helpers.events_path(related_object: presenter.id), class: 'btn btn-default' %>
      <%= link_to('Request fixity check for this object', "#{presenter.id}/fixity", method: :post, class: 'btn btn-warning') if can?(:fixity, FileSet) %>
    </div>
  <% end %>
<% end %>

