<h2>Preservation Events by Type</h2>
<% if presenter.recent_event_presenters.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('.type') %></th>
        <th>Most recent</th>
        <th><%= t('.outcome') %></th>
        <th><%= t('.agent') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'event', collection: presenter.recent_event_presenters %>
    </tbody>
  </table>
  <div>
    <%= link_to 'See all events for this object', Hyrax::Preservation::Engine.routes.url_helpers.events_path(related_object: presenter.id) %>
  </div>
<% end %>
